<div style="text-align:center">
  {{updateTime}} 기준</div>
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-column>닉네임</clr-dg-column>
  <clr-dg-column>게임 횟수</clr-dg-column>
  <clr-dg-column>성공 횟수</clr-dg-column>
  <clr-dg-column>평균 시도횟수</clr-dg-column>
  <clr-dg-column>성공시 평균 시도횟수</clr-dg-column>
  <clr-dg-column>성공할 확률</clr-dg-column>

  <cds-dg-placeholder>No users found</cds-dg-placeholder>
  
  <!--server-driven사용시 Smart Iterater 대신 ngFor 사용-->
  <clr-dg-row *ngFor="let user of users" [clrDgItem]="user">
    <clr-dg-cell>{{user.nickname}}</clr-dg-cell>
    <clr-dg-cell>{{user.gameCnt}}</clr-dg-cell>
    <clr-dg-cell>{{user.winCnt}}</clr-dg-cell>
    <clr-dg-cell>{{user.tryCntAvg}}</clr-dg-cell>
    <clr-dg-cell>{{user.winTryAvg}}</clr-dg-cell>
    <clr-dg-cell>{{user.winRate}}</clr-dg-cell>
  </clr-dg-row>

  <cds-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="total">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Users per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} users
    </clr-dg-pagination>
  </cds-dg-footer>
</clr-datagrid>