<div class="card" id="card1">
  <div class="card-header">
    숫자야구게임 규칙
  </div>
  <div class="card-block">
    게임의 목표: 컴퓨터가 고른 세 숫자와 위치를 맞추는 게임입니다. <br><br>

    컴퓨터가 수비수가 되어 세 자릿수를 하나 골랐습니다. <br>
    각 숫자는 0~9중에 하나이며, 중복되는 숫자는 없습니다. <br><br>
    숫자와 순서가 둘 다 맞으면 <b>STRIKE</b>입니다. <br>
    숫자만 맞고 순서가 틀리면 <b>BALL</b>입니다. <br>
    숫자가 틀리면 <b>OUT</b>입니다.<br><br>
    예) <br>
    정답: <b>6</b>7<I>8</I>, 내가 고른 숫자: <b>6</b><I>8</I>9 >>> 1 <b>strike</b>, 1 <I>ball</I>, 1 out<br>
    정답: 1<b>23</b>, 내가 고른 숫자: 0<b>23</b> >>> 2 <b>strike</b>, 1 out<br>

  </div>
</div>
